*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin:0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
$primary-color : #0C4A34;
$secondary-color:#497557;
$third-color:#DCE3DD;
.header{
    background:url(../Alma.html/images/Rectangle\ \(2\).png) center center / cover no-repeat;
    height: 700px;
    &__header-top{
        &_nav {
            display: flex;
            justify-content: space-between;
        }

    }
}